:root {
	--color-red : hsl(0, 78%, 62%);
	--color-cyan : hsl(180, 62%, 55%);
	--color-orange : hsl(34, 97%, 64%);
	--color-blue : hsl(212, 86%, 64%);

	--color-blue-dark : hsl(234, 12%, 34%);
	--color-blue-grey : hsl(229, 6%, 66%);
	--color-grey-light : hsl(0, 0%, 98%);
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing : inherit;
}

html {
	font-size: 62.5%;
}
body {
	font-size: 1.5rem;
	font-family: 'Poppins',sans-serif;
	color : var(--color-blue-dark);
}

/* LAYOUT */

.container {
	padding: 3rem 5rem;
}
.heading {
	text-align: center;
	max-width: 50rem;
	margin: 0 auto;
}
.heading p {
	margin-top: 2rem;
}
.section-features {
	margin : 7.5rem auto 0 auto;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows : repeat(6,1fr);
	justify-items: center;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.card--1 {
	grid-row: 2 / span 2;
	grid-column: 1 / 2;
	justify-self: end;

	border-top-color: var(--color-cyan);
}
.card--2 {
	grid-row: 1 / span 2;
	grid-column: 2 / 3;
	margin-bottom: 1vw;

	border-top-color: var(--color-red);
}
.card--3 {
	grid-row: 3 / span 2;
	grid-column: 2 / 3;
	margin-top: 1vw;

	border-top-color: var(--color-orange);
}
.card--4 {
	grid-row: 2 / span 2;
	grid-column: 3 / 4;
	justify-self: start;

	border-top-color: var(--color-blue);
}


/* COMPONENTS */
.card {
	border-top-width : 5px;
	border-top-style:  solid;
	padding: 3rem 2rem;
	box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
	border-radius: .5rem;
	max-width: 28rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.card__icon {
	align-self: flex-end;
	margin-top: 5rem;
	width: 5rem;
}



/* UTILITIES */
.h1 {
	font-size: 3rem;
	display: block;
}
.text-bold {
	font-weight: 700;
}
.text-medium {
	font-weight: 400;
}
.text-light {
	font-weight: 200;
}
.p {
	color: var(--color-blue-grey);
}

.attribution {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 1.5rem;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES */
@media screen and (max-width:68.75em){
	.card--1 {
		margin-right: 1vw;
	}
	.card--4 {
		margin-left: 1vw;
	}
}
@media screen and (max-width : 50em){
	.section-features {
		display: flex;
		flex-direction: column;
	}
	.card {
		margin: 0;
		margin-bottom: 2rem;
	}
}

@media screen and (max-width : 29.5em){
	.container {
		padding: 3rem 2rem;

	}
	.section-features {
		margin: 5rem auto 0 auto;
	}
}

@media screen and (max-width : 26.25em){
	html {
		font-size: 60%;
	}
	.h1 {
		font-size: 2.5rem;
	}
	.card {
		padding: 2.5rem 1.5rem;
	}
	.card__icon {
		margin-top: 3rem;
	}

}
@media screen and (max-width : 20.625em){
	.h1 {
		font-size: 2rem;
	}
}